<mat-card>
  <h2 class="mat-elevation-z1">Gallery</h2>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">

      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Jerry Vargas</mat-card-title>
          <mat-card-subtitle>Black and White</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/file02.jpg">
          <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon></button>
            <button mat-button><mat-icon>thumb_down</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Jerry</mat-card-title>
          <mat-card-subtitle>Whatever skin you have</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/file01.jpg">
          <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon></button>
            <button mat-button><mat-icon>thumb_down</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Vargas</mat-card-title>
          <mat-card-subtitle>Beat It</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/file03.jpg">
          <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon></button>
            <button mat-button><mat-icon>thumb_down</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Friend</mat-card-title>
          <mat-card-subtitle>Keep Friends</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/file1.jpg">
          <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon></button>
            <button mat-button><mat-icon>thumb_down</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Jerry</mat-card-title>
          <mat-card-subtitle>Sweet</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/file2.jpg">
          <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon></button>
            <button mat-button><mat-icon>thumb_down</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Jerry in disguise</mat-card-title>
          <mat-card-subtitle>Awesome!</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/file04.jpg">
          <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon></button>
            <button mat-button><mat-icon>thumb_down</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div> 
    </div>
  </div>

</mat-card>